/* You may use this file as a foundation for any new work, but you may find it easier to start from scratch. */
/* Not all elements are defined in this file, so you'll most likely want to refer to the xhtml as well. */

/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */


/* basic elements */

html{
    background-color: f9f9f7;
    
}

p {
    font-family: 'Lato', sans-serif;
    text-align: left;
    padding: 5px 10px 5px 10px;
    
}

a:link { 
	font-weight: bold; 
	text-decoration: underline; 
	color: black;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: underline; 
	color: black;
	}
a:hover, a:focus, a:active { 
	color: dimgray;
    font-weight: bolder;
	}

h1, h2, h3 {
    font-family: 'Homemade Apple', cursive;
    text-align: center;
    font-weight: 800;
    margin-left: 5px;
}

h1{
    font-size: 2.5em;
    margin-bottom: 5px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

h1, h2 {
    display: inline-block;
    padding-left: 10px;
}

h3{
    font-size: 1em;
    padding-top: 10px;
    text-decoration: underline;
}

/* specific divs */
.intro {
    margin-left: 14px;
}
.summary {
    font-size: .8em;
    width: 330px;
    height: 200px;
    margin-left: 20px;
    margin-right: auto;
    /*a demonstration...*/
}
    .summary p {
        font-family: 'Homemade Apple', cursive;
        text-align: left;
        /*a demonstration...*/
    }

.preamble {
    width: 350px;
    height: 390px;
    background-image: url(images/PREAMBLE.png);
    background-repeat: no-repeat;
    background-size: 400px 410px;
    
     /*road to enlightenment*/
}
    .preamble p {
        margin-left: 20px;
}

.main.supporting{
    margin-left: 14px;
}
    .main.supporting p{
        margin-left: 20px;
}

.explanation {
    width: 350px;
    height: 450px ;
    background-image: url(images/Explanation.png);
    background-size: 400px 470px;
    
    /*what is this about?*/
}

.participation {
    width: 350px;
    height: 580px ;
    background-image: url(images/Participation.png);
    background-size: 400px 600px;
}

.benefits {
    width: 374px;
    height: 280px;
    background-image: url(images/Benefits.png);
    background-repeat: round;
    background-size: 400px 220px;
}
    .benefits p {
        margin-right: 10px;
}

.requirements {
    width: 350px;
    height: 1000px;
    background-image: url(images/Requirements.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 400px 1030px;
}
    .requirements p, 
    .requirements h3,
    .requirements a{
        color: lightslategrey;
        font-weight: 100;
}

footer {
    font-family: 'Homemade Apple', cursive;
    word-spacing: 30px;
    margin-left: 15px;
    width: 330px;
    height: 20px;
    padding-top: 15px;
    text-align: left;
    
}

.wrapper {
    width: 325px;
    height: 700px;
    margin-left: 35px;
    margin-right: auto;
   
   /*select design, archives, resources*/
}
    .design-selection {
        font-family: 'Lato', sans-serif;
        height: 270px;
        background-image: url(images/Explanation.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: 400px 320px;

    }
    .design-archives {
        font-family: 'Lato', sans-serif;
        height: 110px;
        background-image: url(images/Explanation.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: 400px 120px;

    }
    .zen-resources {
        font-family: 'Lato', sans-serif;
        height: 200px;
        background-image: url(images/Explanation.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: 400px 220px;
    }



/* Media Queries */
     
@media (min-width:740px), {
         /* two columns*/


    .summary {
        font-size: .8em;
        width: 490px;
        height: 130px;
        /*a demonstration...*/
}
        .summary p {
            text-align: left;
            margin-top: -12px;
            margin-bottom: 10px;
}
    
    .preamble {
        position: relative;
        width: 350px;
        height: 410px;
        background-size: 400px 430px;
     /*road to enlightenment*/
}
      
    .explanation {
        position: absolute;
        top: 270px;
        left: 400px;
        width: 350px;
        height: 460px;
        background-repeat: repeat;
        background-size: 400px 460px;
}

    .participation {
        width: 350px;
        height: 590px ;
        background-size: 400px 610px;
        position: absolute;
        top: 700px;
}

    .benefits {
        position: absolute;  
        top: 730px;
        left: 380px;
}

    .requirements {
        position: absolute;
        top: 1000px;
        left: 390px;
}
   
    .wrapper {
        position: absolute;
        top: 1300px;
    }
  
    footer {
        position:relative;
        top: 1275px;
        left: 7px;
}
        
}

@media (min-width:830px) {
        
    .summary {
    font-size: .8em;
    width: 1000px;
    height: 100px;
    /*a demonstration...*/
}
 
    .requirements {
        position: absolute;
        top: 200px;
        left: 800px;
}
    
    .wrapper {
        position: absolute;
        top: 1000px;
        left: 400px;
        
    }
    
    footer {
        position:relative;
        top: 1000px;
        left: 400px;
}
        
}

/*god, coding is stressful*/

/*LORD SAVE MY SOUL*/

/*TYREIL, THIS IS SO DANG HARD. IF I EVER DO CODING, IT'LL BE MAINTENANCE ONLY. BUILDING SITES FROM SCRATCH IS NOT MY FAVORITE.*/

/*Its amazing how you can learn so much but when put to start from scratch - ALL THE KNOWLEDGE IS GONE. -_- ._. >_<   */

/*ALSO, my layout is like a whiteboard and sticky notes. In UX design
I'm learning a lot about storyboarding and I think this was a
unique way to approach it :) */